<h1>Show paper</h1>

<%= link_to "Papers index", papers_path, class: "btn btn-primary" %>

<h2><%= @paper.title %></h2>
<div><%= @paper.body %></div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <% @paper.tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, tag %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<ul class="buttons">
  <li>
    <%= link_to "Update paper", edit_paper_path(@paper), class: "btn btn-warning" %>
  </li>
  <li>
    <%= link_to "Delete paper", paper_path(@paper), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
</ul>

<!--  Begin Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <% for i in 0...@pictures.length do %>
    <% if i == 0 %>
    <div class="item active">
    <% else %>
    <div class="item">
    <%end%>
      <img src="<%=@pictures[i]['source']%>" alt="" class="img-carousel">
      <div class="carousel-caption">

      </div>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- End Carousel -->